header {
	padding: 60px;
	background: #3498db;
	margin-bottom: 2rem;
	font-size: 3rem;
	text-align: center;
	font-weight: bold;
	color: #ff8000;
}

tr {
	text-align: center;
	padding: 0;
}
th {
	position: left;
	list-style: none;
	padding: 0.25rem 0.75rem;
	margin: 2px;
	border-radius: 3px;
}
td:hover {
	position: left;
	cursor: pointer;
	background-color: #ffac30;
}

button {
	background: #ccdef9;
	color: #3b3b3b;
	padding: 1rem 1rem;
	font-size: 0.8rem;
	border: solid 1px #c7c7c7;
	margin: 1rem 1rem;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
	border-radius: 3px;
	outline: none;
}
button:hover {
	background: #1f7acf;
}