.popup {
    position: fixed;
    width: 70%;
    height: 80%;
    background-color: #3b6a9b;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: solid 2px #000000;
    border-radius: 25px;
    z-index: 1;
}

.popup_inner {
    background-color: white;
    position:center;
    margin:auto;
    height: 75%;
    width: 90%;
    border: solid 2px #000000;
    border-radius: 25px;
}

h1 {
    background-color: #3b6a9b;
    position: center;
    text-align: center;
    width: 30%;
    margin: 10px auto 10px;
    padding: 10px;
    font-family: Arial, sans-serif;
    font-size: 2rem;

}

.text {
    height: 50%;
    width: 90%;
    background-color: #ccdef9;
    position: center;
    margin: 10px auto auto;
    border: solid 2px #000000;
}

p {
    position: center;
    margin: auto;
    font-family: Arial, sans-serif;
    font-size: 1rem;
}

.close {
    position: absolute;
    width: 70px;
    height: 20px;
    background: #f9000d;
    padding: 10px;
    font-size: 1.5rem;
    border: solid 2px #000000;
    margin: 10px;
    font-family: Arial, sans-serif;
    text-align: center;
}
.close:hover {
    background-color: #a20008;
    cursor: pointer;
}
.edit {
    position: relative;
    right: -100px;
    width: 70px;
    height: 20px;
    background: #00ff00;
    padding: 10px;
    font-size: 1rem;
    border: solid 2px #000000;
    margin: 10px;
    font-family: Arial, sans-serif;
    text-align: center;
}
.edit:hover {
    background-color: #01cc20;
    cursor: pointer;
}
.add {
    position: static;
    right: -100px;
    width: 70px;
    height: 20px;
    background: #00ff00;
    padding: 10px;
    font-size: 1rem;
    border: solid 2px #000000;
    margin: 10px;
    font-family: Arial, sans-serif;
    text-align: center;
}
.add:hover {
    background-color: #01cc20;
    cursor: pointer;
}

.delete {
    position: center;
    width: 70px;
    height: 20px;
    background: #f9000d;
    padding: 10px;
    font-size: 1rem;
    border: solid 2px #000000;
    margin: 10px auto auto;
    font-family: Arial, sans-serif;
    text-align: center;
}
.delete:hover {
    background-color: #a20008;
    cursor: pointer;
}

.confirm {
    position: center;
    width: 120px;
    height: 50px;
    background: #18b920;
    padding: 5px;
    font-size: 1.6rem;
    border: solid 2px #000000;
    margin: 10px auto auto;
    font-family: Arial, sans-serif;
    text-align: center;
}
.confirm:hover {
    background-color: #0d8116;
    cursor: pointer;
}

.sessionInfo {
    width: 380px;
    height: 160px;
    background: #ccdef9;
    margin: 10px auto auto;
    padding: 10px;
    font-size: 1rem;
    border: solid 2px #000000;
    border-radius: 25px;
    text-align: center;
}

.text_box_label {
    margin: 30px 10px 30px;
    font-family: Arial, sans-serif;
    text-align: left;
}

.input_label_admin {
    margin: 10px;
    font-family: Arial, sans-serif;
}

input {
    width: 60%;
    margin: auto 8px auto;
    border: solid 2px #000000;
    padding-left: 6px;
    font-family: Arial, sans-serif;
    font-size: 1rem;
    text-align: left;
    word-wrap: break-word;
    white-space: normal;
    position: absolute;
}

.message {
    margin: 1rem;
    padding: 10px;
    position: center;
    align-content: center;
}

.column1 {
    float: left;
    padding: 4px;
    width: 40%;
}

.column2 {
    float: left;
    padding: 4px;
    width: 60%;
}
