p {
	position: center;
	margin: auto;
	font-family: Arial, sans-serif;
	font-size: 1rem;
	padding-bottom: 4px;
}

button {
	width: 210px;
	height: auto;
	background: #ccdef9;
	padding: 10px 8px;
	font-size: 1rem;
	border: solid 2px #000000;
	margin: 1rem;
	border-radius: 25px;
}
button:hover {
	background: #1f7acf;
}